@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@keyframes move-twink {
  from { 
    right: -1500px;
    top: -1500px;  
  }
 to { 
  right: 0px;
  top: 0px; 
 }
}

* {
  box-sizing: border-box;
}

body {
  background: url('./images/stars.png') top center #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: 'Russo One', sans-serif;
}
body::before {
  content: '';
  position: fixed;
    width: 300%;
    height: 300%;
    display: block;
  background: url('./images/twinkling.png') top center;
  
  z-index: -1;
  animation: move-twink 70s linear infinite;
}

p {
  text-align: right;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

p strong {
  font-size: 14px;
  color: #777;
}

.stars, .twinkling {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
}

.stars {
  
}
.twinkling {

}


.cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.flip-card {
  height: 150px;
  width: 150px;
  border-radius: 2px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;  
  overflow: hidden;
  border-radius: 8px;
}

.flip-card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.flip-card .front,
.flip-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: absolute;  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.flip-card .front {
  background: #fff;
  transform: rotateY(180deg);  
  display: flex;
    flex-direction: column;
}
.flip-card .front img {
  width: 100%;
  object-position: top;
    object-fit: cover;
    height: 150px;
}

.flip-card .back {
  background: #ae1c35;
  color: #d6aeb5;
  font-size: 100px;
  transition: 0.3s ease all;
}

.flip-card .back:hover {
  background: #cc2f49;
  color: #fff;
  transform: scale(1.02);
}
